<a href="https://colab.research.google.com/github/kevweolomu/Data-Analysis-SQL-Project/blob/main/Nigerian_Survey_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This is a Python package to read and write SAS, SPSS, and Stata files into/from pandas data frames. 

!pip install pyreadstat

Requirement already satisfied: pyreadstat in /usr/local/lib/python3.7/dist-packages (1.1.4)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pyreadstat) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.15.0)

In [ ]:
import numpy as np
import pandas as pd

import pyreadstat       # To import spss files as DataFrames 

import matplotlib.pyplot as plt                             
%matplotlib inline 

import seaborn as sns                                       
sns.set(color_codes=True)
sns.set_style('ticks')     

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split       
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

from yellowbrick.cluster import KElbowVisualizer            
from collections import Counter

In [ ]:
df, meta = pyreadstat.read_sav("survey_data.sav")
df.head()

,Q1,Q2,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,Q3_6,Q3_7,Q3_8,...,Q20_9,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29
0,NaN,14.0,4.0,2.0,3.0,2.0,4.0,4.0,4.0,4.0,...,2.0,2.0,1.0,4.0,4.0,1.0,1.0,1.0,5.0,1.0
1,NaN,14.0,4.0,4.0,4.0,4.0,4.0,3.0,3.0,4.0,...,4.0,1.0,1.0,4.0,5.0,2.0,1.0,NaN,1.0,NaN
2,NaN,14.0,4.0,4.0,4.0,4.0,4.0,3.0,3.0,4.0,...,3.0,2.0,1.0,4.0,4.0,2.0,1.0,3.0,5.0,1.0
3,NaN,21.0,4.0,3.0,2.0,2.0,4.0,1.0,1.0,2.0,...,3.0,2.0,1.0,4.0,4.0,2.0,NaN,NaN,NaN,1.0
4,NaN,21.0,2.0,3.0,3.0,2.0,3.0,2.0,2.0,3.0,...,2.0,2.0,1.0,4.0,5.0,1.0,1.0,1.0,NaN,1.0

In [ ]:
meta_dict = dict(zip(meta.column_names, meta.column_labels))

In [ ]:
meta.column_names

In [ ]:
meta.column_labels

In [ ]:
meta_dict['Q1']

'I have read the participation information sheet and I consent to participate in the survey'

In [ ]:
df['Q21'].map(meta.variable_value_labels['Q21']).value_counts(normalize=True)

31 – 40 years    0.477612
21 – 30 years    0.444776
41 – 50 years    0.068657
60+              0.005970
51 – 60 years    0.002985
Name: Q21, dtype: float64